* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
  color: #333;
}

.entity-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.film-list {
  max-width: 1000px;
  margin: 20px auto 0;
  padding: 0 20px;
}

.film-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search[type="text"] {
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #da552f;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin-bottom: 30px;
}

/*#region [Show Boxes]*/
.show-box {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.show-box p {
  font-size: 16px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}

/*#region [Show Box Info]*/
.show-box-info {
  max-width: 700px;
  margin: 20px auto 0;
}

.show-box-info h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
}

.show-box-info p {
  color: #666;
  text-align: justify;
}

.show-box-info .show-box-info-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-box-info .show-box-info-image img {
  min-width: 40%;
  max-width: 40%;
}

.show-box-info .show-box-info-image .show-box-info-info {
  margin: 10px;
}

.show-box-info .show-box-info-resume {
  margin-top: 20px;
}

.show-box-info .show-box-info-resume p {
  line-height: 24px;
  margin-top: 5px;
  font-size: 20px;
}
/*#endregion*/

/*#region [Show Box Film]*/
.film-list .show-film {
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.show-box-film {
  width: 31%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 11px;
  padding: 20px;
  margin-bottom: 20px;
}

.show-box-film div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-box-film div strong {
  margin-bottom: 15px;
}

.show-box-film .poster {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-box-film .poster img {
  max-height: 380px;
}

.show-box-film .film-info-short {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.show-box-film .film-info-short p {
  font-size: 15px;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
  margin: 5px;
}
/*#endregion*/
/*#endregion*/

/*#region [Containers]*/
.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*#endregion*/

/*#region [Buttons]*/
.button {
  height: 42px;
  width: 40%;
  border-radius: 5px;
  background: none;
  margin: 5px;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.button-add {
  width: auto;
  margin-bottom: 20px;
}

.button-back {
  width: auto;
  margin-top: 20px;
}
/*#endregion*/

/*#region [Buttons Colors]*/
.button-default {
  border: 2px solid #da552f;
  color: #da552f;
}

.button-default:hover {
  background: #da552f;
  color: #fff;
}

.button-info {
  border: 2px solid #4169e1;
  color: #4169e1;
}

.button-info:hover {
  background: #4169e1;
  color: #fff;
}

.button-success {
  border: 2px solid #3cb371;
  color: #3cb371;
}

.button-success:hover {
  background: #3cb371;
  color: #fff;
}

.button-warning {
  border: 2px solid #ff8c00;
  color: #ff8c00;
}

.button-warning:hover {
  background: #ff8c00;
  color: #fff;
}

.button-danger {
  border: 2px solid #ff0000;
  color: #ff0000;
}

.button-danger:hover {
  background: #ff0000;
  color: #fff;
}
/*#endregion*/

/*#region [Actions Pagination]*/
.actions-pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.actions-pagination button {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background: #da552f;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.actions-pagination button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.actions-pagination button:hover:enabled {
  opacity: 0.7;
}
/*#endregion */
